@import '../../index.scss';

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    text-align: center;
    &__content {
        background-color: white;
        padding: 20px;
        border-radius: 12px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__btns {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

.modal-enter {
    opacity: 0;
  }

.modal-enter-active {
opacity: 1;
transition: opacity 300ms;
}
  
  /* Анимация исчезновения */
.modal-exit {
opacity: 1;
}
  
.modal-exit-active {
opacity: 0;
transition: opacity 300ms;
}